# PostgreSQL
POSTGRES_USER=tu_usuario_aqui
POSTGRES_PASSWORD=tu_password_seguro
POSTGRES_DB=monitoreo

# Airflow (genera una clave con: openssl rand -base64 30)
AIRFLOW_SECRET_KEY=tu_clave_secreta_aqui

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=cambia_esta_password

# Conexiones
DB_HOST=postgres-postgis
DB_PORT=5432
DB_NAME=monitoreo
DB_USER=tu_usuario_aqui
DB_PASSWORD=tu_password_seguro
